<h2 class="page_title col-lg-6 offset-lg-4">登録情報編集</h2>
<%= render 'layouts/error_messages', resource: @user %>
<div class="row">
  <div class="col-lg-6 offset-lg-3 mx-auto">
    <%= form_with model:@user, url: user_path(@user), method: :patch, local: true do |f| %>
    	<div class="form-group">
    	  <%= f.label :role, "管理者権限を選択する" %><br />
        <%= f.radio_button :role, 'menber' %>
        <%= f.label :"一般ユーザー" %>&emsp;
        <%= f.radio_button :role, 'admin' %>
        <%= f.label :"管理者" %>
      </div>
      <div class="form-group">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName" %>
      </div>
      <div class="form-group">
        <%= f.label :department, "所属部署" %>
        <%= f.text_field :department, autofocus: true, class:"form-control", id:"inputDepartment" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class:"form-control", id:"inputEmail"%>
      </div>
      <%= f.hidden_field :id %>
    	<div class="form-group">
        <%= f.submit "編集内容を保存する", class:"btn btn_yellow btn-block" %>
      </div>

    <% end %>

    <%= link_to "Back", :back %>
  </div>
</div><!-- /row -->
