<h4><%= flash[:success] %> <%= flash[:notice] %></h4>
<h2>貸出履歴一覧</h2>
<hr>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="info">
      <th>名前</th>
      <th>貸出日</th>
      <th>返却日</th>
      <th>状態</th>
      <th><!--削除ボタン--></th>
    </tr>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <% if rental.is_returned == "返却済み" %>
        <tr>
          <td><%= rental.item.name %></td>
          <td><%= rental.rental_date.strftime('%Y/%m/%d') %></td>
          <td><%= rental.days.strftime('%Y/%m/%d') %></td>
          <td><%= rental.is_returned %></td>
          <td>
            <%= link_to '削除', rental_path(rental.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

