<h4><%= flash[:success] %> <%= flash[:notice] %></h4>
<h2>貸出備品一覧</h2>

<hr>

<% if @rentals.any? %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="info">
      <th>名前</th>
      <th>貸出日</th>
      <th>返却予定日</th>
      <th>返却日</th>
      <th>状態</th>
      <th><!--返却ボタン--></th>
      <th><!--削除ボタン--></th>
    </tr>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.item.name %></td>
        <td><%= rental.rental_date.strftime('%Y/%m/%d') %></td>
        <td><%= rental.return_date.strftime('%Y/%m/%d') %></td>
        <td><%= rental.days..strftime('%Y/%m/%d') %></td>
        <td><%= rental.is_returned %></td>
        <td width="100" align="center">
          <%= link_to '返却', return_path(rental.id), method: :patch, data: { confirm: "この備品を返却します。よろしいですか？" }, :class => "btn btn-danger" %>
        </td>
        <% if @rental.is_returned == '返却済み' %>
        <td>
          <%= link_to '削除', return_path(rental.id), method: :patch, data: { confirm: "この貸出履歴を削除します。よろしいですか？" }, :class => "btn btn-danger" %>
        </td>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>貸出中の備品はありません</h4>
<% end %>

