<%= flash[:success] %> <%= flash[:notice] %>
<h2 class="page_title col-lg-4 offset-lg-4">貸出履歴一覧</h2>
<div class="row">
  <div class="col-lg-9 offset-lg-3 mx-auto">
    <h4 class="subtitle">借りている備品</h4>
      <table class="rental_list table table table-bordered overflow-auto">
        <thead class="thead-light">
          <tr>
            <th>No.</th>
            <th>名前</th>
            <th>貸出日</th>
            <th>返却予定日</th>
            <th><!--返却ボタン--></th>
          </tr>
        </thead>
        <tbody>
            <% @rentals.each_with_index do |rental, i| %>
                <tr>
                  <td><%= i+1 %> </td>
                  <td><%= rental.item.name %></td>
                  <td><%= rental.rental_date.strftime('%Y/%m/%d') %></td>
                  <td><%= rental.return_date.strftime('%Y/%m/%d') %></td>
                  <td>
                    <%= link_to '　返却　', return_path(rental.id), method: :patch, data: { confirm: "この備品を返却します。よろしいですか？" }, class: "btn btn_yellow" %>
                  </td>
                </tr>
            <% end %>
        </tbody>
      </table>
	</div>
	<div class="col-lg-9 offset-lg-3 mt-5 mx-auto">
    <h4 class="subtitle">利用履歴</h4><span>（最新10件まで表示）</span>
      <table class="returned_list table table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>No.</th>
            <th>名前</th>
            <th>貸出日</th>
            <th>返却日</th>
            <th>状態</th>
          </tr>
        </thead>
        <tbody>
            <% @returns.each_with_index do |returns, i| %>
                <tr>
                  <td><%= i+1 %> </td>
                  <td><%= returns.item.name %></td>
                  <td><%= returns.rental_date.strftime('%Y/%m/%d') %></td>
                  <td><%= returns.days.strftime('%Y/%m/%d') %></td>
                  <td><%= returns.is_returned %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
	</div>
</div> <!-- /row -->

