<h2 class="page_title col-lg-6 offset-lg-4">備品の編集</h2>
<%= render 'layouts/error_messages', resource: @item %>
<%= form_with model: @item, url: item_path(@item), local: true do |f| %>
<div class="row">
  <div class="col-lg-3 offset-lg-1">
    <div class="item_image">
      <%= attachment_image_tag @item, :image, class: "img", fallback: "no-image.png", size:"300x250" %>
      <%= f.attachment_field :image %>
    </div>
  </div>
  <!-- 画像プレビュー -->
	<script>
    $(function(){
      //inputのidから情報を取得
		  $('#item_image').on('change', function (e) {
		  // ココから既存の画像のurlの取得
		    var reader = new FileReader();
		    reader.onload = function (e) {
		  		$(".image").attr('src', e.target.result);
			}
		  // ココまで
		  reader.readAsDataURL(e.target.files[0]);
		  // 取得したurlにアップロード画像のurlを取得
	     });
	   });
	</script>
  <div class="col-lg-6 ml-5">
    <div class="from-group">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="from-group">
      <%= f.label :category_id, "カテゴリ" %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "選択してください"}) %>
    </div>
    <div class="from-group">
      <%= f.label :place, "保管場所" %><br>
      <%= f.text_field :place, class:"form-control" %>
    </div>
    <div class="from-group">
      <%= f.label :caption, "説明" %><br>
      <%= f.text_field :caption, class:"form-control" %><br>
    </div>
    <div class="from-group">
      <%= f.label :place, "保管場所" %><br>
      <%= f.text_field :place, class:"form-control" %>
    </div>
    <div class="from-group">
      <%= f.label :status, "貸出ステータス"%><br>
      <%= f.radio_button :status, "貸出可"%>
      <%= f.label :"貸出可" %>&emsp;
      <%= f.radio_button :status, "貸出中" %>
      <%= f.label :"貸出中" %>
    </div>
    	<%= f.submit "登録内容を更新する", class:"btn btn_yellow btn-block" %>
  </div>
<% end %>
</div><!-- /row -->
